.livros-class {
  text-align: center;
  padding: 2rem;
  position: relative;
}

.livros-class h3 {
  font-size: 2rem;
  border-bottom: 0.25rem solid;
  display: inline-block;
  padding: 0.5px;
}

.livros-class .livros-card {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.livros-class .input-color {
  position: absolute;
  top: 1.25rem;
  right: 3.1rem;
}
